{% block pbx_storeinformation_address %}
    <sw-container gap="0px 30px">
        {% block pbx_storeinformation_address_company_field %}
            <sw-text-field
                :label="$tc('sw-customer.addressForm.labelCompany')"
                :placeholder="$tc('sw-customer.addressForm.placeholderCompany')"
                :disabled="disabled"
                v-model="address.company">
            </sw-text-field>
        {% endblock %}

        {% block pbx_storeinformation_address_street_field %}
            <sw-text-field
                :label="$tc('sw-customer.addressForm.labelStreet')"
                :placeholder="$tc('sw-customer.addressForm.placeholderStreet')"
                :disabled="disabled"
                v-model="address.street">
            </sw-text-field>
        {% endblock %}

        {% block pbx_storeinformation_address_additional_address_line_1_field %}
            <sw-text-field
                :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine1')"
                :placeholder="$tc('sw-customer.addressForm.placeholderAdditionalAddressLine1')"
                :disabled="disabled"
                v-model="address.additionalAddressLine1">
            </sw-text-field>
        {% endblock %}

        {% block pbx_storeinformation_address_additional_address_line_2_field %}
            <sw-text-field
                :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine2')"
                :placeholder="$tc('sw-customer.addressForm.placeholderAdditionalAddressLine2')"
                :disabled="disabled"
                v-model="address.additionalAddressLine2">
            </sw-text-field>
        {% endblock %}

        {% block pbx_storeinformation_address_zipcode_city_container %}
            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                {% block pbx_storeinformation_address_zipcode_field %}
                    <sw-text-field
                        :label="$tc('sw-customer.addressForm.labelZipcode')"
                        :placeholder="$tc('sw-customer.addressForm.placeholderZipcode')"
                        :disabled="disabled"
                        v-model="address.zipcode">
                    </sw-text-field>
                {% endblock %}

                {% block pbx_storeinformation_address_city_field %}
                    <sw-text-field
                        :label="$tc('sw-customer.addressForm.labelCity')"
                        :placeholder="$tc('sw-customer.addressForm.placeholderCity')"
                        :disabled="disabled"
                        v-model="address.city">
                    </sw-text-field>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {%  block pbx_storeinformation_address_country_state_container %}
            <sw-container columns="repeat(2, 1fr)" gap="0px 30px">
                {% block pbx_storeinformation_address_country_field %}
                    <sw-entity-single-select
                        class="pbx-storeinformation-address__country-select"
                        entity="country"
                        :label="$tc('sw-customer.addressForm.labelCountry')"
                        :placeholder="$tc('sw-customer.addressForm.placeholderCountry')"
                        :disabled="disabled"
                        v-model="address.country">
                    </sw-entity-single-select>
                {% endblock %}

                {% block pbx_storeinformation_address_state_field %}
                    <div class="pbx-storeinformation-address__state-select-placeholder">
                        <sw-entity-single-select
                            v-model="address.countryState"
                            class="pbx-storeinformation-address__state-select"
                            entity="country_state"
                            :disabled="disabled || !country"
                            :criteria="stateCriteria"
                            :label="$tc('sw-customer.addressForm.labelState')"
                            :placeholder="$tc('sw-customer.addressForm.placeholderState')">
                        </sw-entity-single-select>
                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {% block pbx_storeinformation_address_phone_number_field %}
            <sw-text-field
                :label="$tc('sw-customer.addressForm.labelPhoneNumber')"
                :placeholder="$tc('sw-customer.addressForm.placeholderPhoneNumber')"
                :disabled="disabled"
                v-model="address.phoneNumber">
            </sw-text-field>
        {% endblock %}

        {% block pbx_storeinformation_address_email_field %}
            <sw-text-field
                :label="$tc('sw-customer.baseForm.labelEmail')"
                :placeholder="$tc('sw-customer.baseForm.placeholderEmail')"
                :disabled="disabled"
                v-model="address.email">
            </sw-text-field>
        {% endblock %}

    </sw-container>
{% endblock %}
