/*
!/.docker/php/
!/app/
# index
/app/public/
/app/src/
/app/vendor/
/app/composer.json
/app/composer.lock
# shadow
/app/custom/plugins/*/src/Resources/app/administration/node_modules/
/app/custom/plugins/*/src/Resources/public/administration/
/app/custom/plugins/*/var/
/app/custom/plugins/*/vendor/
