includes:
    - ../.common/phpstan.neon

parameters:
    paths:
        - src
    symfony:
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
    tmpDir: .phpstan.cache
